<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="design.jaine.spring.test.datebase.repository.RealEstateRepository">
 
 	<select id="selectRealEstateList" resultType="design.jaine.spring.test.datebase.domain.RealEstate">
 		SELECT
 			`id`
 			, `officeId`
 			, `address`
 			, `area`
 			, `type`
 			, `price`
 			, `rentPrice`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`realestate`
 	</select>
 
 </mapper>
