<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<title>Favorite List</title>
</head>
<body>
	<div>
		<h2>즐겨찾기 목록</h2>
		<table class="table">
			<thead>
				<tr>
					<th>No.</th>
					<th>이름</th>
					<th>주소</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="favorite, status:${favoriteList}">
					<td th:text="${status.count}"></td>
					<td th:text="${favorite.name}"></td>
					<td th:text="${favorite.url}"></td>
					<td><button class="btn btn-danger btn-sm deleteBtn" th:value="${favorite.id}" th:data-favorite-id="${favorite.id}">삭제</button></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<script>
		$(document).ready(function() {
				
			$(".deleteBtn").on("click", function() {		
				/* let id = $(this).val(); */
				let id = $(this).data("favorite-id");
				
				$.ajax({
					type: "get"
					, url: "/ajax/favorite/delete"
					, data: {"id": id}
					, success: function(data) {
						if(data.deleteResult == "success") {
							alert("삭제 성공!");
							location.href = "/ajax/favorite/info";
						} else if(data.deleteResult == "fail") {
							alert("삭제 실패!");
						}
					}
					, error: function() {
						alert("Encountered Error!");
					}
				});
			});
			
		});
	</script>
</body>
</html>